{% extends 'base.html' %}
{% load static %}

{% block title%}
    Agents
{% endblock%}

{% block content%}

<div class="container">
        <table>
            <thead>
                <tr>
                    <th>Agent ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>PollingUnit_ID</th>
                </tr>
            </thead>

            <tbody>
                {% for a in Agent %}
                    <tr>
                        <td>{{a.id}}</td>
                        <td>{{a.firstname}}</td>
                        <td>{{a.lastname }}</td>
                        <td>{{a.email }}</td>
                        <td>{{a.phone }}</td>
                        <td>{{a.pollingunit_id}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock content%}